<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>name</param-name>
    <param-value>WeiyiGeek</param-value>
  </context-param>
  <context-param>
    <param-name>age</param-name>
    <param-value>100</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>cn.weiyigeek.servlet.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpHelloWorld</servlet-name>
    <servlet-class>cn.weiyigeek.servlet.HttpHelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpHelloWorld</servlet-name>
    <url-pattern>/web</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lifecycle</servlet-name>
    <servlet-class>cn.weiyigeek.servlet.Lifecycle</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lifecycle</servlet-name>
    <url-pattern>/lifecycletest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfig</servlet-name>
    <servlet-class>cn.weiyigeek.servlet.SevletConfig</servlet-class>
    <init-param>
      <param-name>WeiyiGeek</param-name>
      <param-value>ServletConfig</param-value>
    </init-param>
    <init-param>
      <param-name>name</param-name>
      <param-value>WeiyiGeek</param-value>
    </init-param>
    <init-param>
      <param-name>age</param-name>
      <param-value>88</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfig</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMethod</display-name>
    <servlet-name>ServletMethod</servlet-name>
    <servlet-class>cn.weiyigeek.servlet.ServletMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMethod</servlet-name>
    <url-pattern>*.weiyigeek</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletcontext1</display-name>
    <servlet-name>Servletcontext1</servlet-name>
    <servlet-class>cn.weiyigeek.servlet.Servletcontext1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletcontext1</servlet-name>
    <url-pattern>/Servletcontext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletcontext2</display-name>
    <servlet-name>Servletcontext2</servlet-name>
    <servlet-class>cn.weiyigeek.servlet.Servletcontext2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletcontext2</servlet-name>
    <url-pattern>/Servletcontext2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.weiyigeek.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountTotal</display-name>
    <servlet-name>CountTotal</servlet-name>
    <servlet-class>cn.weiyigeek.servlet.CountTotal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountTotal</servlet-name>
    <url-pattern>/CountTotal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpHeader</display-name>
    <servlet-name>HttpHeader</servlet-name>
    <servlet-class>cn.weiyigeek.httpServletRequest.HttpHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpHeader</servlet-name>
    <url-pattern>/HttpHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpPostInfo</display-name>
    <servlet-name>HttpPostInfo</servlet-name>
    <servlet-class>cn.weiyigeek.httpServletRequest.HttpPostInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpPostInfo</servlet-name>
    <url-pattern>/HttpPostInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpFileDown</display-name>
    <servlet-name>HttpFileDown</servlet-name>
    <servlet-class>cn.weiyigeek.httpServletRequest.HttpFileDown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpFileDown</servlet-name>
    <url-pattern>/HttpFileDown</url-pattern>
  </servlet-mapping>
</web-app>